<?xml version="1.0" encoding="UTF-8"?>

<root>
  <item pojoName="id" commonName="id" type="java.lang.String"/>
  <item pojoName="departmentid" commonName="parent" type="java.lang.String"/>
  <item pojoName="departmentname" commonName="creator" type="java.lang.String"/>
  <item pojoName="departmenttype" commonName="content" type="java.lang.String"/>
  <item pojoName="description" commonName="ptitle" type="java.lang.String"/>
  <item pojoName="createdtime" commonName="createTime" type="java.util.Date"/>
  <item pojoName="createuserid" commonName="title" type="java.lang.String"/>
  <item pojoName="modifytime" commonName="beginTime" type="java.util.Date"/>
  <item pojoName="modifyuserid" commonName="group" type="java.lang.String"/>
  <item pojoName="deletedtime" commonName="endTime" type="java.util.Date"/>
  <item pojoName="deleteduserid" commonName="thumb" type="java.lang.String"/>
  <item pojoName="departmentcode" commonName="" type="java.lang.Integer"/>
  <item pojoName="deletedflag" commonName="" type="java.lang.Byte"/>
  <item pojoName="reserved1" commonName="" type="java.lang.Integer"/>
  <item pojoName="reserved2" commonName="" type="java.lang.String"/>
</root>
