<?xml version="1.0" encoding="UTF-8"?>

<root>
  <item pojoName="id" commonName="id" type="java.lang.String"/>
  <item pojoName="operategroupname" commonName="creator" type="java.lang.String"/>
  <item pojoName="belongsystem" commonName="content" type="java.lang.String"/>
  <item pojoName="description" commonName="parent" type="java.lang.String"/>
  <item pojoName="opreateset" commonName="ptitle" type="java.lang.String"/>
  <item pojoName="operategrouptype" commonName="" type="java.lang.Integer"/>
  <item pojoName="showorder" commonName="" type="java.lang.Integer"/>
</root>
