<?xml version="1.0" encoding="UTF-8"?>

<root> 
  <item pojoName="id" commonName="sortIndex" type="java.lang.Integer"/>
  <item pojoName="tenantid" commonName="parent" type="java.lang.String"/>
  <item pojoName="tenantname" commonName="content" type="java.lang.String"/>
  <item pojoName="description" commonName="ptitle" type="java.lang.String"/>
  <item pojoName="reserved2" commonName="creator" type="java.lang.String"/>
  <item pojoName="tenantcode" commonName="" type="java.lang.Integer"/>
  <item pojoName="tenanttype" commonName="" type="java.lang.Byte"/>
  <item pojoName="reserved1" commonName="" type="java.lang.Integer"/>
</root>
