<?xml version="1.0" encoding="UTF-8"?>

<root> 
  <item pojoName="departmentid" commonName="parentCode1" type="java.lang.String"/>
  <item pojoName="actorgroup" commonName="parentCode2" type="java.lang.String"/>
  <item pojoName="speciallygroup" commonName="changerId" type="java.lang.String"/>
  <item pojoName="createtime" commonName="createTime" type="java.util.Date"/>
  <item pojoName="createuserid" commonName="createId" type="java.lang.String"/>
  <item pojoName="description" commonName="parent1Name" type="java.lang.String"/>
  <item pojoName="reserved1" commonName="createName" type="java.lang.String"/>
  <item pojoName="reserved2" commonName="parent2Name" type="java.lang.String"/>
  <item pojoName="id" commonName="" type="java.lang.Integer"/>
  <item pojoName="userid" commonName="" type="java.lang.Integer"/>
</root>
