<?xml version="1.0" encoding="UTF-8"?>

<root>
  <item pojoName="id" commonName="id" type="java.lang.String"/>
  <item pojoName="userid" commonName="parent" type="java.lang.String"/>
  <item pojoName="loginip" commonName="title" type="java.lang.String"/>
  <item pojoName="lasttimelogin" commonName="createTime" type="java.util.Date"/>
  <item pojoName="reserved2" commonName="creator" type="java.lang.String"/>
  <item pojoName="lasttimelogout" commonName="" type="java.lang.Integer"/>
  <item pojoName="reserved1" commonName="" type="java.lang.Integer"/>
</root>
