<?xml version="1.0" encoding="UTF-8"?>

<root> 
  <item pojoName="id" commonName="id" type="java.lang.String"/>
  <item pojoName="sourceSys" commonName="parentCode1" type="java.lang.String"/>
  <item pojoName="dstSys" commonName="parentCode2" type="java.lang.String"/>
  <item pojoName="message" commonName="createName" type="java.lang.String"/>
  <item pojoName="mstype" commonName="parent1Name" type="java.lang.String"/>
  <item pojoName="mstatus" commonName="" type="short"/>
  <item pojoName="retry" commonName="" type="int"/>
  <item pojoName="lastModifyTime" commonName="" type="long"/>
</root>
