<?xml version="1.0" encoding="UTF-8"?>

<root>
  <item pojoName="id" commonName="id" type="java.lang.String"/>
  <item pojoName="usercode" commonName="creator" type="java.lang.String"/>
  <item pojoName="username" commonName="parent" type="java.lang.String"/>
  <item pojoName="userpassword" commonName="group" type="java.lang.String"/>
  <item pojoName="displayname" commonName="title" type="java.lang.String"/>
  <item pojoName="userthumb" commonName="thumb" type="java.lang.String"/>
  <item pojoName="workcode" commonName="content" type="java.lang.String"/>
  <item pojoName="oganizationid" commonName="ptitle" type="java.lang.String"/>
  <item pojoName="createdtime" commonName="createTime" type="java.util.Date"/>
  <item pojoName="modifytime" commonName="beginTime" type="java.util.Date"/>
  <item pojoName="limitedtime" commonName="endTime" type="java.util.Date"/>
  <item pojoName="departmentid" commonName="" type="java.lang.String"/>
  <item pojoName="userextendid" commonName="" type="java.lang.String"/>
  <item pojoName="createuserid" commonName="" type="java.lang.String"/>
  <item pojoName="modifyuserid" commonName="" type="java.lang.String"/>
  <item pojoName="logincount" commonName="" type="java.lang.Byte"/>
  <item pojoName="selectcondition" commonName="" type="java.lang.Byte"/>
  <item pojoName="systemuserflag" commonName="" type="java.lang.Byte"/>
</root>
